#mainpage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3% 94% 3%;
      grid-template-columns: 3% 94% 3%;
  -ms-grid-rows: 5% 10% 80% 5%;
      grid-template-rows: 5% 10% 80% 5%;
}

.pagetitle {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.userdata-container {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 60%;
      grid-template-rows: 60%;
}

.img-mod-btn {
  max-width: 20px;
  max-height: 20px;
  border: none;
}

.userdata-form {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2% 30% auto 2%;
      grid-template-columns: 2% 30% auto 2%;
  -ms-grid-rows: (7)[50px];
      grid-template-rows: repeat(50px, 7);
}

.formtitle {
  color: #087E8B;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

label {
  font-size: 18px;
}

#personal-id {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -ms-flex-item-align: self-start;
      align-self: self-start;
  color: #000a64;
}

label[for=username] {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

label[for=useremail] {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  grid-row: 4;
}

label[for=userpassword] {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 5;
  grid-row: 5;
}

label[for=username] + .input-container {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
}

label[for=useremail] + .input-container {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 4;
  grid-row: 4;
}

label[for=userpassword] + .input-container {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 5;
  grid-row: 5;
}

.m-input {
  max-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: self-start;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}

.m-input input {
  height: inherit;
  width: 80%;
  font-size: 18px;
  border: solid 1px #7CE8DE;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 8px;
  outline: none;
}

.mod-btn {
  width: 50px;
  max-height: 100%;
  background-color: #000a64 !important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  border: solid 2px #7CE8DE !important;
}

.mod-btn:active {
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  background-color: #A5D8ED !important;
}

.normal-input {
  background-color: #000a64;
  color: #4CE0D2;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}

.changing-input {
  background-color: #4CE0D2;
  color: #000a64;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
}

.input-controllers {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 7;
  grid-row: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.input-btn {
  width: 100px;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  outline: none;
}

.input-btn:active {
  -webkit-transition-duration: 50ms;
          transition-duration: 50ms;
  background-color: #4CE0D2 !important;
  color: #000a64 !important;
}

.enable-btn {
  background-color: #000a64 !important;
  color: #7CE8DE;
  border: solid 2px #7CE8DE;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.disable-btn {
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  background-color: #A3ACA9;
  color: #041B15;
  border: solid 2px #A3ACA9 !important;
}

.notification-container {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 6;
  grid-row: 6;
}

#notification {
  color: #136F63;
  font-size: 15px;
}
/*# sourceMappingURL=account.css.map */